<!doctype html>
<html>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript">
      var apiKey = '<%= api_key %>';
      var sessionId = '<%= session_id %>';
      var token = '<%= token %>';
  </script>
  <script src="/js/sharescreen.js"></script>
<body>
  <button onclick="javascript:screenshare();" disabled id="shareBtn">Share your screen</button>
  <div id="camera-publisher"></div>
  <div id="camera-subscriber"></div>
  <div id="screen-subscriber"></div>
</body>
</html>
